<h1 class="twelve columns introduction__name">{{name}}</h1>
<span class="introduction__email"><strong>E-post:</strong></span>
<span class="">{{email}}</span>

<p class="introduction__hello">
  Webbutvecklare, programmerare och designer med drygt tio års erfarenhet av webb
  och fem års erfarenhet av programmering. Frontendutvecklare
  med gedigen kunskap som ständigt söker nya utmaningar och tror på bra hantverk.
  <br><br>
  Kontaktuppgifter och referenser lämnas vid begäran.
</p>
