<section class="panel introduction">
	<header>
		<div class="introduction__portrait">
		<div class="introduction__filler"></div>
			<img src="../cv/emil.jpg">
		</div>
		<h1>{{name}}</h1>
	</header>
	<p class="introduction__hello">
	  Webbutvecklare, programmerare och designer med drygt tio års erfarenhet av webb
	  och fem år av programmering.
  	</p>
  	<p>
  		Bekväm med både front- och backend, stort som smått, och brinner lite extra för produktutveckling och att pröva nya saker.
	</p>
	<p> 
		Kontakta mig gärna per e-post: <a href="mailto:{{email}}">{{email}}</a>. Kontaktuppgifter och referenser lämnas vid begäran.
	</p>	
	<p>
		Ett utskrivbart CV i PDF-format finns tillgängligt <a href="../emil_johnsen_cv.pdf">här</a>.
	</p>
</section>