<h1 class="twelve columns">{{name}}</h1>
<span class=""><strong>E-post:</strong></span>
<span class="">{{email}}</span>

<p>
  Webbutvecklare, programmerare och designer med tio års erfarenhet i bagaget. 
</p>
