
<div class="work panel">
<table>
	<thead>
		<tr>
			<td class="work__where">Plats</td>
			<td class="work__role">Roll</td>
			<td class="work__from">Från</td>
			<td class="work__to">Till</td>
		</tr>
	</thead>
	<tbody>
	{{#each this}}
		<tr>
		<td>{{this.where}}</td>
		<td>{{this.role}}</td>
		<td>{{this.from}}</td>
		<td>{{this.to}}</td>
		</tr>
	{{/each}}
	</tbody>
</table>	


</div>
